.formBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

body {
    background-color: azure;
}

p {
    font-size: 160%;
}

#influenceTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#influenceTable td, #influenceTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#influenceTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#influenceTable tr:hover {
    background-color: #ddd;
}

#influenceTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}