<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>influence</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="formBox">
    <form action="#" th:action="@{/}" th:object="${user}" method="post">
        <h3>Вкажіть користувача Twitter:</h3>
        <input type="text" th:placeholder="Нікнейм" th:field="*{username}"/>
        <button type="submit" th:background="green">Далі</button>
    </form>
</div>
</body>
</html>