<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>influence</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="/webjars/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/highcharts.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var data = Object.keys([[${map}]]).map(function (item) {
            return {
                "name": item,
                "y": [[${map}]][item]
            };
        });

        $(function () {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: '.',
                    thousandsSep: ','
                }
            });
            drawInfluenceChart();
        });


        function drawInfluenceChart() {
            var influenceChart = Highcharts.chart('influence', {
                chart: {
                    type: 'pie',
                    margin: 40,
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                },
                title: {
                    text: 'Розподіл впливу між агентами'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        depth: 35
                    }
                },
                series: [{
                    name: 'Сила впливу',
                    colorByPoint: true,
                    data: data
                }]
            });
        }

        /*]]>*/
    </script>
</head>
<body>
<div>
    <div id="influence" style="width:100%; color: azure; height:400px;">
    </div>
    <p th:utext="'Користувач:  ' + ${username}"/>
    <p th:utext="'Кількість агентів впливу:  ' + ${count}"/>
    <p th:utext="'Загальна сила впливу:  ' + ${total}"/>
    <div>
        <table id="influenceTable">
            <tr>
                <th>Агент впливу</th>
                <th>Сила впливу</th>
            </tr>
            <tr th:each="entry: ${map}">
                <td th:text="${entry.key}"/>
                <td th:text="${entry.value}"/>
            </tr>
        </table>
    </div>
</div>
</body>
</html>


